{% extends 'base.html' %}

{% block title %}
Gallery
{% endblock %}

{% block header %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/gallery.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-B4dCuUNnVv5+8EN6x/Z7vOtf6w9wKByFd56M6Bqj3wVJXLYooslpz2GYUiBy9vFj" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet">
  
  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
  <script src="{{ url_for('static', filename='js/gallery.js') }}" defer></script>
{% endblock %}

{% block content %}
<style>
  #wrapper {
      width: 100%;
      line-height: 4em;
      border: 1px none gray;
      text-align: center;
      color: gray;
      border-radius: 7px;
  }
</style>

<body>
  <!-- Modal -->
  <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="uploadModalLabel">Upload Image</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="/upload" method="POST" enctype="multipart/form-data">
                      {{ form.hidden_tag() }}
                      <div id="wrapper" class="form-group">
                        {{ form.photo(class="form-control") }}
                      </div>
                      <div class="form-group d-flex justify-content-end my-3">
                        {{ form.submit(class="btn btn-outline-success") }}
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
<!-- 
  <div class="modal fade" id="Deletion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="DeletionLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                  <svg class="mt-3" xmlns="http://www.w3.org/2000/svg" height="50" width="50" viewBox="0 0 512 512"><path fill="#FFD43B" d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" /></svg>
                  <p class="mt-3">You're going to delete this image. Are you sure?</p>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No, Keep It.</button>
                  <button type="button" class="btn btn-danger">Yes, Delete!</button>
              </div>
          </div>
      </div>
  </div> -->

  <!-- Navbar -->
  <nav class="sticky-top navbar navbar-expand-lg bg-primary-subtle">
      <div class="container-fluid mx-5">
          <a class="navbar-brand" href="#">Project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      {% if g.user %}
                        <a class="nav-link disabled" aria-disabled="true">Hello, {{ g.user['username'] }}</a>
                      {% else %}
                        <a class="nav-link disabled" aria-disabled="true">Hello, who are you??</a>
                      {% endif %}
                  </li>
              </ul>
              <form class="d-flex column-gap-2" role="search">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#uploadModal">
                      Upload
                  </button>

                  <button formaction="/logout" class="btn btn-outline-danger" type="submit">Logout</button>
              </form>
          </div>
      </div>
  </nav>

  <!-- Gallery -->

  <div class="mt-5 container">
      <div class="row">
        
          {% for data in datas%}
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded mb-4" data-mdb-ripple-color="light"
                    style="max-width: 22rem;">
                    <img src="{{ data['img_path'] }}" class="w-100" />
                        <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5); ">
                            <h4><i class="fa-solid fa-trash-can" style="color: red;"></i></h4>
                            <form action="{{ url_for('image.delete', id=data['id']) }}" method="POST">
                                <button class="btn btn-danger" type="submit" value="Yes" onclick="return confirm('Are you sure?');">Delete?</button>
                            </form>
                        </div>
                </div>
            </div>
          {% endfor %}
        
          {% if not datas %}
            <div>It's Empty, Upload your First File!</div>
          {% endif %}
      </div>
  </div>
  <!-- Gallery -->
</body>
{% endblock %}